@model CorePracticeWebApp.Models.Members
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>
<table>
    <tr>
        <td>
            <label>Last Name</label>
        </td>
        <td>@Model.FirstName</td>
    </tr>
    <tr>
        <td>
            <label>Last Name</label>
        </td>
        <td>@Model.LastName</td>
    </tr>
    <tr>
        <td>
            <label>Date of Bap</label>
        </td>
        <td>@Model.DateofBap</td>
    </tr>
</table>
